name: Swift

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
      - name: Build
        run: xcodebuild -project 'Clinics.xcodeproj' -scheme 'Clinics' -destination 'generic/platform=iOS' -configuration Release build CODE_SIGNING_ALLOWED=NO
